body {
    color: #888888;
    font-family: "Poppins",sans-serif;
    font-size: 14;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 32;
    color: #222222;
    font-weight: normal;

}

h2 {
    font: bold;
    font-size: 28;
    color: #222222;
    font-weight: normal;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
.star {
    color: #C90000;
}

.cart {
    text-align: right;
    font-size: 12px;
    color: #222222;
    background-color: #CCCCCC;
    padding: 5px;
    width: 100%;

}

#classicTee {
    float: left;
}

#content {
    float: right;
}

.sizeButton{
    color: #CCCCCC;
    background-color: white;
    border-radius: 0%;
    border-width: 1px;
    border-color: #CCCCCC;
    padding: 15px;
}

.cartButton{
    font-weight: bold;
}

#cartView{
    color: black;
    float: right;
    padding-right: 15px;
}